@charset "UTF-8";

@font-face {
    font-family: 'fonte';
    src: url('KGRedHands.ttf') format('truetype'), url('KGRedHandsOutline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*titulos*/

h1{
    text-align: center;font-family: 'fonte', Times, serif;font-size: 40px; color: rgb(39, 39, 39);
    background-color: rgb(172, 172, 172);
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 20px;
}

#nome{
    text-align: center;font-family: 'fonte', Times, serif;font-size: 40px; color: rgb(39, 39, 39);
    background-color: rgb(172, 172, 172);
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.459);
}

h2{
    text-align: justify;
    text-align: justify;font-family: 'fonte', Times, serif;font-size: 15px; color: rgb(39, 39, 39);
    text-indent: 30px;
}


h3{
    text-align: center;font-family: 'fonte', Times, serif;font-size: 20px; color: rgb(39, 39, 39);
}

h4{
    text-align: center;font-family: 'fonte', Times, serif;font-size: 30px; color: rgb(39, 39, 39);
}

h5{
    text-align: center;font-family: 'fonte', Times, serif;font-size: 10px; color: rgb(39, 39, 39);
}

h6{
    text-align: center; font-family: 'fonte', Times, serif;font-size: 15px; color: rgb(39, 39, 39);
}

#Título01{
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
}

#Título02{
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
}

#Título03{
    background-color: rgba(42, 147, 165, 0);
    padding: 20px;
}

#Título04{
    background-color: coral;
    padding: 20px;
}

#Título05{
    background-color: rgb(172, 172, 172);
    padding: 20px;
    
}

#Título06:hover{
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.459);
    margin-top:10px;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
}

#Título06{
    background-color: rgba(255, 127, 80, 0);
    margin-top: 50px;
}

/*class e id*/

#lista-topicos{
    list-style-type: none;
    padding: 0;
}

#lista-topicos{
    text-decoration: none;
    color: black;
}

#lista-topicos{
    border-bottom: 1px solid #ddd;
    padding: 8px 16px;
}

#Continuação-das-ODS{
    text-decoration: none;
    color: black;
}

#a01{
    padding-left: 29%;
}

#link-topo{
    text-decoration: none;
    color: white;
    background-color: rgb(223, 223, 223);
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.459);
    margin-top:10px;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
}

#link-topo:hover{
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    margin-top:10px;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
}

.row{
    padding: 0 20px;
}

.card{
    background-color: rgba(255, 255, 255, 0.521);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.459);
    
}

.card02{
    background-color: rgba(255, 255, 255, 0.521);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.459);
}

.cardtable{
    background-color: rgba(255, 255, 255, 0.521);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.459);
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 100px;

    padding: 20px;
}

.cardtable02{
    background-color: rgba(255, 255, 255, 0.521);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.459);
    margin-top: 60px;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.imagem{
    background-color: ff0000;
    padding: 20px;
}

.imagem{
    display: block;
    margin: auto;
}


#lista-topicos:hover{
    list-style-type: none;
    padding: 0;
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.459);
    margin-top:10px;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
}

#lista-topicos{
    text-decoration: none;
    color: black;
}

#lista-topicos{
    border-bottom: 1px solid #ddd;
    padding: 8px 16px;
}

#Continuação-das-ODS{
    text-decoration: none;
    color: black;
}
#tabela{
    text-align: center;
    text-decoration: none;
    color: black;
}

.roda{
    background: rgba(255, 255, 255, 0.521);
    padding: 20px;
    text-align: right;
    
}

#ods:hover{
    background-color: rgba(0, 0, 0, 0.432);
}

#ods{
    background-color: rgba(0, 0, 0, 0.281);
    padding-left: 12%;
    padding-right: 12%;
}

#teste{
    color: #0392ff00;
}

#rodape{
    background-color: #0392ff00;
    text-align: center;
}

.botao:hover{
    background-color: #FF6968;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.459);
    margin-top:10px;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
}

.imagem{
    display: block;
    margin: auto;
}

/*tags*/

body{
    background-color: rgb(150, 150, 150);
    font-family: 'fonte', Times, serif;
    font-size: 1em;
}


p{
    text-align: justify;font-family: 'fonte', Times, serif;
    font-size: 15px;
    text-indent: 30px;
}



a{
    text-align: center;font-family: 'fonte', Times, serif;
    font-size: 15px;
    color: black;
    text-decoration: none;
}



*{
    box-sizing: border-box;
    
}



section{
    float: left;
    width: 70%;
}

aside {
    float: left;
    width: 25%;
    padding-left: 20px;
    box-sizing: border-box;
}



html {
    scroll-behavior: smooth;
}



table, th, td {
    border: 1px solid black;

 }
 
 thead{
     background-color: rgb(99, 163, 255);
 }

 td{
    padding: 20px;
}

th{
    text-align: center;font-family: 'fonte', Times, serif;font-size: 20px;
    background-color: aqua;
    padding: 20px;
    
}

table{
    text-align: center;font-family: 'fonte', Times, serif;
}



hr{
    background-color: rgb(0, 0, 0);
    padding: 1px;
    margin-top: 50px;
}



li{
    text-align: justify;font-family: 'fonte', Times, serif;
    font-size: 15px;
    padding-left: 35px;
}

img{
    background-color: rgb(172, 172, 172);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.459);
}

img:hover{
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.459);
    margin-top:10px;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
}

iframe{
    padding: 50px;
    width: 100%;
    height: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.459);
}