@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body{
    background-color: #eceff1;
    transition: 0.3s;
    width: 100%;
}

/*Barra superior*/

div#link-para-outras-paginas{
    display: none;
}

.navbar.bg-light.fixed-top{
    display: none;
}

.icon-desativado{
    opacity: 0.7;
}

.icon-desativado:hover{
    opacity: 1;
    transition: 0.5s ease-in-out;
}

#title-inicio{
    font-size: 4vh;
}

#title-inicio:hover{
    font-size: 4vh;
}

div.btn{
    background-color: transparent;
    border: 0;
    padding: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-bottom: 0;
    position: relative;
}

div.btn::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

div.btn:hover::after{
    width: 100%;
}

li{
    list-style: none;
}

.icon04{
    width: 3vw;
    height: 3vh;
    color: #fff;
}

.moon{
    width: 2vw;
    height: 2vh;
    color: #fff;
    margin-bottom: 1vh;
}

.sun{
    width: 2vw;
    height: 2vh;
    color: #fff;
    margin-bottom: 1vh;
}


li.content{
    display: block;
    position: absolute;
    margin: auto;
}

li{
    list-style: none;
}

b{
    margin-left: 5px;
}

header{
    z-index: 999;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 55px;
    color: aliceblue;
    transition: 0.2s ease-in-out;
}

h1:hover{
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    color: aliceblue;
}

.titleh2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    display: block;
    background: rgba(255, 255, 255, 0.100);
    border: 2px solid rgba(255, 255, 255, 0.188);
    width: 35vw;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 20px;
    padding-top: 15px;
}

.titleh3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    display: block;
    background: rgba(255, 255, 255, 0.100);
    border: 2px solid rgba(255, 255, 255, 0.188);
    width: 72vw;
    margin: 0 auto;
    border-radius: 20px;
}

.logo{
    font-size: 0px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.logo:hover{
    opacity: 0.7;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 8vh;
    position: fixed;
    width: 100%;
    top: 0%;
    background-color: rgba(155, 155, 155, 0.719);
    backdrop-filter: blur(20px);
    z-index: 999;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin: 0 auto;
    padding: auto;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

.nav-list.active{
    transform: translateX(0);
}

header nav a img{
    width: 80px;
    height: 80px;
}

ul li a{
    border-radius: 50px;
    padding: 10px;
    color: rgb(255, 255, 255);
}

a.nav-link.dropdown-toggle{
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
    padding-top: 10px;
    margin-top: 5px;
    transition: 0.2s;
}

a.nav-link.dropdown-toggle:hover{
    background-color: transparent;
    border: solid rgba(255, 255, 255, 0.39);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

ul.dropdown-menu.dropdown-menu-dark{
    background-color: rgba(0, 0, 0, 0.719);
    border: 2px solid rgba(255, 255, 255, 0.188);
    backdrop-filter: blur(15px);
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.2s;
    border-radius: 20px;
    margin: 0px;
    padding: 5px;
    width: 200px;
}

li a.dropdown-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

li a.dropdown-item:active{
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 15px rgb(255, 255, 255), inset 0 0 15px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#home{
    background-color: transparent;
    backdrop-filter: blur(15px);
    color: rgb(255, 255, 255);
}

#home:hover{
    background-color: transparent;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 15px rgb(255, 255, 255), inset 0 0 15px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

#facebook{
    background-color: transparent;
    backdrop-filter: blur(15px);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#facebook:hover{
    background-color: transparent;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 15px rgb(255, 255, 255), inset 0 0 15px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#instagram{
    background-color: transparent;
    backdrop-filter: blur(15px);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#instagram:hover{
    background-color: transparent;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 15px rgb(255, 255, 255), inset 0 0 15px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#referencias{
    background-color: transparent;
    backdrop-filter: blur(15px);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#referencias:hover{
    background-color: transparent;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 15px rgb(255, 255, 255), inset 0 0 15px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*Paralexe*/

section{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section:nth-of-type(1){
    background-image: url(../imagens/img20.jpg);
    height: 100vh;
}

section#projetos-certificados{
    box-shadow: inset 0px 0px 5px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section#certificados{
    background-image: url(../imagens/img13.jpg);
    height: 100vh;
}

/*cards*/

#all-cards{
    margin-bottom: 1rem;
}

.card{
    width: 22rem;
}

.card img{
    width: 15rem;
    height: 15rem;
    display: block;
    margin: auto;
}

#photoperfil{
    border-radius: 50%;
    margin-top: .5rem;
}

#photoinova{
    margin-top: .5rem;
    margin-bottom: 1rem;
    width: 95%;
    border-radius: 10px;
}

#photogalery{
    margin-top: .5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 95%;
    height: 50%;
}

div.card-body{
    padding-top: 0;
}

li.list-group-item{
    background-color: #d4d4d4;
}

.dark li.list-group-item{
    background-color: #404040;
    transition: .3s;
    color: #fff;
}

ul.list-group-flush{
    border-radius: 0px 7px 7px 7px;
}

#card-style{
    background-color: #e7e7e7;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.400);
}

#card-style h5{
    color: rgb(0, 0, 0);
}

#card-style h6{
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
}

#site-btn-margin{
    margin-left: 1rem;
}

a.btn.btn-primary02{
    background-color: transparent;
    border: 0;
    padding: 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    margin-bottom: 0;
    position: relative;
}

a.btn.btn-primary02::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

a.btn.btn-primary02:hover::after{
    width: 100%;
}

.card-text{
    text-indent: 20px;
}

.dark #card-style{
    background-color: #363636;
    transition: .3s;
}

.dark #card-style p, h5{
    color: #fff;
    transition: .3s;
}

.dark #card-style h5{
    color: #fff;
    transition: .3s;
}

.dark a.btn.btn-primary02{
    color: #fff;
}

.dark a.btn.btn-primary02::after{
    background-color: #fff;
}

.dark #card-style h6{
    color: #fff;
}

.dark .icons-linguages{
    background-color: #404040;
    transition: .3s;
}

.dark .icons-linguages-top{
    background-color: #404040;
    transition: .3s;
}

.dark .icons-linguages svg{
    color: #fff;
    transition: .3s;
}

.dark .icons-linguages-top svg{
    color: #fff;
    transition: .3s;
}

.dark .icons-linguages-bottom{
    background-color: #404040;
    transition: .3s;
}

.dark .icons-linguages-bottom svg{
    color: #fff;
    transition: .3s;
}

/*conteudo*/

p.footer{
    margin: 0;
    background-color: #363636;
    padding: .5rem;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

#card-style{
    margin-top: 1rem;
}

.icons-linguages{
    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: 0px 7px 7px 7px;
}

.icons-linguages-top{
    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: 0px 7px 0px 0px;
}

.icons-linguages-bottom{
    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: 0px 0px 7px 7px;
}

svg.icon02{
    float: left;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

svg.icon{
    display: block;
    width: 35px;
    height: 35px;
}

.sobre-mim02{
    margin-left: 0px;
    font-size: 75px;
    color: rgb(102, 102, 102);
    cursor: default;
}

.sobre-mim02:hover{
    font-size: 77px;
}

div.container01{
    display: block;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%)
}

div.container01 h3{
    color: rgb(126, 126, 126);
    text-align: center;
}

div.container01 h3:hover{
    transition: .3s;
    color: rgb(255, 255, 255);
}

#certificados{
    position: relative;
}

#certificados div{
    display: block;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%)
}

#certificados div h1{
    margin-left: 0px;
    font-size: 75px;
    color: rgb(196, 196, 196);
    cursor: default;
}

#certificados div h1:hover{
    font-size: 77px;
    color: #fff;
}

hr#hr-para-mobile{
    display: none;
}

svg.icon{
    display: block;
    width: 35px;
    height: 35px;
    margin: 0px;
}

li{
    list-style: none;
}

.icon04{
    width: 3vw;
    height: 3vh;
    color: #fff;
}

.moon{
    width: 2vw;
    height: 2vh;
    color: #fff;
    margin-bottom: 1vh;
}

.sun{
    width: 2vw;
    height: 2vh;
    color: #fff;
    margin-bottom: 1vh;
}


li.content{
    display: block;
    position: absolute;
    margin: auto;
}

li{
    list-style: none;
}

/*Scroolbar*/

::-webkit-scrollbar{
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
    transition: 0.7s ease-in-out;
}

::-webkit-scrollbar-thumb:hover{
    width: 15px;
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
    transition: 0.7s ease-in-out;
}

/*Modo escuro*/

input[type="checkbox"]{
    display: none;
}

section{
    background-color: #eceff1;
}

.dark section{
    background-color: #202020;
    /*background-color: #363636;*/
    transition: .3s;
}

.dark #link-topo{
    color: #fff;
}

.dark #link-topo:hover{
    color: #fff;
}

/*Navbar*/

.dark nav{
    background-color: rgba(0, 0, 0, 0.719);
    transition: 0.3s;
}

/*Experiência de usuário*/

div#modo-escuro-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
}

div#modo-escuro-btn svg{
    cursor: pointer;
    width: 100vw;
    height: 3vh;
}

div#modo-escuro-btn{
    background-color: transparent;
    border: 0;
    padding: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1px;
    margin-bottom: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#modo-escuro-btn::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

div#modo-escuro-btn:hover::after{
    width: 0%;
}

svg.moon{
    display: none;
}

.dark svg.moon{
    display: block;
}

.dark svg.sun{
    display: none;
}

/*link para o topo*/

#link-topo{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(175, 175, 175, 0);
    padding: 2px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    z-index: 100;
}

#link-topo:hover{
    color: #fff;
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    margin-top:10px;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
}

/*Responsivo*/

div#all-cards-tablet{
    display: none;
}

div#all-cards-celular{
    display: none;
}

@media (min-width: 750px) and (max-width: 1000px){
    div#all-cards-tablet{
        margin-bottom: 1rem;
        display: block;
    }

    div#all-cards{
        display: none;
    }

    div#all-cards-celular{
        display: none;
    }
}

@media (min-width: 250px) and (max-width: 750px){

    div#all-cards-celular{
        display: block;
        margin-bottom: 1rem
    }

    div#all-cards-tablet{
        display: none;
    }

    div#all-cards{
        display: none;
    }
}

@media (min-width: 250px) and (max-width: 600px){

    #certificados div h1{
        margin-left: 0px;
        font-size: 45px;
        color: rgba(255, 255, 255, 0.692);
        cursor: default;
    }
    
    #certificados div h1:hover{
        font-size: 45px;
        color: rgba(255, 255, 255, 0.692);
    }

    #card-style{
        margin-top: 1rem;
    }

    #desktop-hr{
        display: none;
    }

    h1.sobre-mim02{
        margin-left: 0px;
        margin-bottom: 2vh;
        font-size: 45px;
        color: rgba(255, 255, 255, 0.692);
        cursor: default;
    }

    h1.sobre-mim02:hover{
        font-size: 45px;
        color: rgba(255, 255, 255, 0.692);
    }

    div.container01{
        display: block;
        position: absolute;
        top: 50vh;
        left: 50%;
        transform: translateX(-50%)
    }

    div.container01 h3{
        color: rgba(255, 255, 255, 0.692);
    }

    div.container01 h3:hover{
        color: rgba(255, 255, 255, 0.692);
    }
}

@media (min-width: 800px) and (max-width: 1200px){

    hr#hr-para-mobile{
        display: flex;
    }

    ul.dropdown-menu.dropdown-menu-dark{
        width: 50vw;
        border-radius: 5px;
    }
}

@media (min-width: 320px) and (max-width: 800px){

    ul.dropdown-menu.dropdown-menu-dark{
        width: 100vw;
        border-radius: 5px;
    }
}

@media (min-width: 320px) and (max-width: 1200px){

    /*Navbar*/

    div#link-para-outras-paginas{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    div.btn{
        background-color: transparent;
        border: 0;
        padding: 0;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1px;
        margin-bottom: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    div.btn::after{
        content: " ";
        width: 0%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.5s ease-in-out;
    }
    
    div.btn:hover::after{
        width: 100%;
    }

    hr.line05{
        margin-top: 0px;
        margin: 0;
    } 

    li.content{
        display: none;
    }

    hr#hr-para-mobile{
        display: flex;
        margin-bottom: 1vh;
    }

    .content{
        display: none;
    }

    .sobre-mim02{
        margin-left: 0px;
        margin-bottom: 2vh;
        font-size: 45px;
        color: rgb(102, 102, 102);
        cursor: default;
    }
    
    .sobre-mim02:hover{
        font-size: 77px;
    }

    .inicio{
        margin-left: 10px;
        padding-top: 40vh;
        color: rgb(255, 255, 255);
        font-family: 'Ubuntu', sans-serif;
    }

    
    .row{
        margin: 0px;
        width: 100%;
    }
}

